.container {
    padding-top: 20px;
    padding-bottom: 15px;
    margin: auto;
    border: 2px solid rgb(16, 17, 17); 
   border-radius: 15px; 
    background-color: rgb(122, 122, 113);
    align-content: end
    ;
}

.container input {
    border-radius: 3px;
    height: 100%;
    margin-right: 2px;
}

.container button {
    border-radius: 3px;
    height: 100%;
    color: whitesmoke;
    background-color: darkslategray;
    box-shadow: 0 5px 5px black;
    &:hover {
        color: darkslategray;
        background-color: whitesmoke;
        box-shadow: 0 5px 5px white;
    }
}