.container{
  width: 100vw;
  /* background-color:rgba(128, 128, 128, .80); */
  background-color:rgba(120, 118, 118, 0.8);

  /* background-color: #42c1c8; */
  /* background-color: #00866E; */
  height: 15vh;
  display: flex;
  /* justify-content: space-between; */
  /* border: 1px solid black; */
  
  
}
.containerButton{
  width: 300px;
  /* justify-content: space-between; */
  /* margin-top: 35px; */
}
.selectContainer{
  width:700px;
  margin-top: 35px;

  display: flex;
  justify-content: space-between;
 
}

.selectContainer select{
   height: 30px;
   width: 150px;
   margin-right: 15px;
   border-radius:10px;
   border-color: darkgray;
   /* justify-content: space-between */
}
  
.containerSearch{
  margin: auto;
  /* padding-bottom: 15px; */
}


.container button {
    margin-top: 25px;
    /* margin-right: 10px; */
    border-radius: 3px;
    height: 35px;
    width: 70px;
     margin-left: 10px;
     margin-right: 10px; 
    align-items: end;
    
    color: whitesmoke;
    background-color: darkslategray;
    box-shadow: 0 5px 5px black;
    &:hover {
        color: darkslategray;
        background-color: whitesmoke;
        box-shadow: 0 5px 5px white;
    }
}